<!DOCTYPE html>
<html>
<head>
    <title>dayhub,record and recall</title>
    <style type="text/css">
        .menu{
            float: left;
            display: inline;
            background-color: #0099ff;
            width: 200px;
            height: 20px;
        }
        .img{
            width: 300px;
            height: 200px;
        }
    </style>
</head>
<body>
<img src="../static/images/ais.jpg" alt="ais" class="img"/>
<div class="menu">menu1</div>
<div class="menu">menu1</div>
<div class="menu">menu1</div>
<div class="menu">menu1</div>
<div class="menu">menu1</div>
</body>
</html>